In [1]:
import pandas as pd

## 판다스 자료구조

In [3]:
#시리즈(Series) : 열벡터

dict_data = {'a':1, 'b':2, 'c':3}

sr = pd.Series(dict_data)

print(type(sr)) # sr의 자료형 출력
print('\n')
print(sr) #변수 sr에 저장되어 있는 시리즈 객체를 출력

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [9]:
list_data = ['2019-01-02',3.14,'ABC',100,True]
sr = pd.Series(list_data) # 리스트를 시리즈로 변환하여 저장
print(sr)

# 인덱스 배열은 변수 idx에 저장, 데이터 값 배열은 변수 val에 저장
idx = sr.index
val = sr.values
print(idx)
print('\n')
print(val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object
RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

In [18]:
#원소선택 > 파이썬 리스트 slicing 기법과 유사

# 튜플을 시리즈로 변환(인덱스 옵션 저장)
tup_data = ('영인', '2010-05-01','여', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr)

print(sr[0]) # sr의 1번째 원소를 선택 (정수형 위치 인덱스)
print(sr['이름']) # '이름' 라벨을 가진 원소를 선택 (인덱스 이름)


# 여러 개의 원소를 선택(인덱스 리스트 활용)
print(sr[[1,2]])
print('\n')
print(sr[['생년월일','성별']])

# 여러 개의 원소를 선택(인덱스 범위 지정)
print(sr[1:2])
print('\n')
print(sr['생년월일':'성별']) #인덱스 이름을 사용하면 범위의 끝이 포함

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object
영인
영인
생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
성별               여
dtype: object
생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

In [5]:
#데이터프레임(DataFrame) : 여러 개의 열벡터들이 같은 행 인덱스를 기준으로 줄지어 결합된 2차원 벡터 또는 행렬(matrix)
# 열(column) : 공통된 속성을 갖는 일련의 데이터
# 행(row) : 개별 관측 대상에 대한 다양한 속성 데이터들의 모음

# 열이름을 key로 하고, 리스트를 value로 갖는 딕셔너리 정의(2차원 배열)
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

df = pd.DataFrame(dict_data)

print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [24]:
#행 인덱스/열 이름 설정

df = pd.DataFrame([[15,'남','덕영중'], [17,'여','수리중']],
                 index=['준서','예은'],
                 columns=['나이','성별','학교'])

# 행 인덱스, 열 이름 확인하기
print(df)
print(df.index)
print(df.columns)

#행 인덱스, 열 이름 변경하기
df.index = ['학생1','학생2']
df.columns = ['연령','남녀','소속']

print('\n')
print(df)
print(df.index)
print(df.columns)

# df.rename()을 활용해서 행 인덱스, 열 이름 변경하기
df.rename(columns={'연령':'나이', '남녀':'성별','소속':'학교'}, inplace=True) #열 이름 변경
df.rename(index={'학생1':'준서', '학생2':'예은'}, inplace=True) #행 인덱스 변경
# 주의! inplace=True는 원본 객체를 변경할 때 사용하는 것, 사용하지 않을 시 새로운 데이터프래임 객체를 반환해야 함.

print('\n')
print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중
Index(['준서', '예은'], dtype='object')
Index(['나이', '성별', '학교'], dtype='object')


     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중
Index(['학생1', '학생2'], dtype='object')
Index(['연령', '남녀', '소속'], dtype='object')


    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [38]:
# 행/열 삭제

# drop() 메소드는 기존 객체를 변경하지 않고 새로운 객체를 반환 > 원본 객체 변경 위해서는 inplace=True 사용

pd.set_option('mode.chained_assignment',  None)
exam_data = {'수학':[90,80,70], '영어':[98,89,95],
            '음악':[85,95,100], '체육':[100,90,90]}

df = pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)
print('\n')

# df2의 1개 행(row) 삭제
df2 = df[:]
df2.drop('우현',axis=0,inplace=True)
print(df2)
print('\n')

# df3의 2개 행(row) 삭제
df3 = df[:]
df3.drop(['우현','인아'],axis=0,inplace=True)
print(df3)
print('\n')

# df4의 1개 열(columns) 삭제
df4 = df[:]
df4.drop('수학',axis=1,inplace=True)
print(df4)
print('\n')

# df5의 2개 열(columns) 삭제
df5 = df[:]
df5.drop(['영어','음악'],axis=1,inplace=True)
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100


    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


    수학   체육
서준  90  100
우현  80   90
인아  70   90

In [47]:
# 행 선택

exam_data = {'수학':[90,80,70], '영어':[98,89,95],
            '음악':[85,95,100], '체육':[100,90,90]}
df = pd.DataFrame(exam_data,index=['서준','우현','인아'])

# 행 인덱스를 사용하여 행 1개 선택
label1 = df.loc['서준']
position1 = df.iloc[0]
print(label1)
print(position1)
print('\n')

# 행 인덱스를 사용하여 2개 이상의 행 선택
label2 = df.loc[['서준','우현']]
position2 = df.iloc[[0,1]]
print(label2)
print(position2)
print('\n')

# 행 인덱스 범위를 지정하여 행 선택
label3 = df.loc['서준':'우현'] #마지막 값인 '우현' 포함
position3 = df.iloc[0:1] #마지막 값인 '우현' 미포함
print(label3)
print(position3)
print('\n')

# slicing step 활용
position4 = df.iloc[::2] #처음부터 끝까지 2행 간격
print(position4)
print('\n')

position5 = df.iloc[0:3:2]
print(position5)
print('\n')

position6 = df.iloc[::-1] #역순 출력
print(position6)

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64
수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  98  85  100


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어   음악   체육
인아  70  95  100   90
우현  80  89   95   90
서준  90  98   85  100

In [48]:
# 열 선택

exam_data = {'이름':['서준','우현','인아'],
            '수학':[90,80,70], '영어':[98,89,95],
            '음악':[85,95,100], '체육':[100,90,90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

# '수학' 점수 데이터만 선택, 변수 math1 에 저장 > Seires 객체로 출력
math1 = df['수학']
print(math1)
print(type(math1))
print('\n')

# '영어' 점수 데이터만 선택, 변수 english에 저장 > Seires 객체로 출력
english = df.영어
print(english)
print(type(english))

# '음악','체육' 점수 데이터를 선택. 변수 music_gym에 저장 > DataFrame 객체로 출력
music_gym = df[['음악','체육']]
print(music_gym)
print(type(music_gym))

# '수학' 점수 데이터만 선택. 변수 math2에 저장 > 이중대괄호를 사용하면 1개 원소를 갖는 리스트라도 데이터프레임으로 저장
math2 = df[['수학']]
print(math2)
print(type(math2))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>
    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>
   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

In [55]:
# 원소 선택
# 2개 이상의 행과 2개 이상의 열 선택 : 데이터프레임 객체 반환 (나머지 Series)

exam_data = {'이름':['서준','우현','인아'],
            '수학':[90,80,70], '영어':[98,89,95],
            '음악':[85,95,100], '체육':[100,90,90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경 사항 반영
df.set_index('이름',inplace=True)
print(df)
print('\n')

# 데이터프레임 df의 특정 원소 1개 선택
a = df.loc['서준','음악']
print(a)
b = df.iloc[0,2]
print(b)
print('\n')

# 데이터프레임 df의 특정 원소 2개 이상 선택
c = df.loc['서준',['음악','체육']]
print(c)
d = df.iloc[0,[2,3]]
print(d)
print('\n')
e = df.loc['서준','음악':'체육']
print(e)
f = df.iloc[0,2:]
print(f)
print('\n')

# df 2개 이상의 행과 열에 속하는 원소들 선택
g = df.loc['서준':'우현','음악':'체육']
print(g)
h = df.iloc[:2,2:]
print(h)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


85
85


음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64


음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64


    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

In [61]:
# 열 추가 (데이터프레임의 마지막 열에 덧붙이듯 새로운 열을 추가)

exam_data = {'이름':['서준','우현','인아'],
            '수학':[90,80,70], '영어':[98,89,95],
            '음악':[85,95,100], '체육':[100,90,90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

# df에 국어 점수 열 추가, 데이터 값은 80 지정
df['국어'] = 80
print(df)
print('\n')

# 행 추가
df.loc[3] = 0
df.loc[4] = ['동규',90,80,70,60,50]
df.loc['행5'] = df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80


    이름  수학  영어   음악   체육  국어
0   서준  90  98   85  100  80
1   우현  80  89   95   90  80
2   인아  70  95  100   90  80
3    0   0   0    0    0   0
4   동규  90  80   70   60  50
행5   0   0   0    0    0   0

In [67]:
# 원소 값 변경

exam_data = {'이름':['서준','우현','인아'],
            '수학':[90,80,70], '영어':[98,89,95],
            '음악':[85,95,100], '체육':[100,90,90]}
df = pd.DataFrame(exam_data)
df.set_index('이름',inplace=True)
print(df)
print('\n')

# df의 특정 원소를 변경하는 방법 : 서준이의 체육 점수
df.iloc[0][3] = 80
print(df)
print('\n')

df.loc['서준']['체육'] = 90
print(df)
print('\n')

df.loc['서준','체육'] = 100
print(df)
print('\n')

df.iloc[0,3] = 50
print(df)
print('\n')

# df의 원소 여러 개를 변경하는 방법 : 서준이의 음악,체육 점수
df.loc['서준',['음악','체육']] = 100
print(df)
print('\n')

df.iloc[0,[2,3]] = 90, 80
print(df)
print('\n')

# 행, 열 위치 바꾸기
df = df.transpose()
print(df)
print('\n')

df = df.T
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악  체육
이름
서준  90  98   85  50
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악   체육
이름
서준  90  98  100  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악  체육
이름
서준  90  98   90  80
우현  80  89   95  90
인아  70  95  100  90


이름  서준  우현   인아
수학  90  80   70
영어  98  89   95
음악  90  95  100
체육  80  90   90


    수학  영어   음악  체육
이름
서준  90  98   90  80
우현  80  89   95  90
인아  70  95  100  90