In [6]:
import pandas as pd
import numpy as np
import seaborn as sns

## 인덱스활용

In [6]:
exam_data = {'이름':['서준','우현','인아'],
            '수학':[90,80,70], '영어':[98,89,95],
            '음악':[85,95,100], '체육':[100,90,90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

# 특정 열을 행 인덱스로 설졍
ndf = df.set_index(['이름'])
print(ndf)
print('\n')

ndf2 = df.set_index('음악')
print(ndf2)
print('\n')

ndf3 = df.set_index(['수학','음악'])
print(ndf3)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


     이름  수학  영어   체육
음악
85   서준  90  98  100
95   우현  80  89   90
100  인아  70  95   90


        이름  영어   체육
수학 음악
90 85   서준  98  100
80 95   우현  89   90
70 100  인아  95   90

In [10]:
# 행 인덱스 재배열

dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

df = pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)
print('\n')

# 인덱스를 r0,r1,r2,r3,r4,r5 로 재지정
new_index = ['r0','r1','r2','r3','r4']
ndf = df.reindex(new_index)
print(ndf)
print('\n')

# reindex로 발생한 NaN 값을 숫자 0으로 채우기
ndf2 = df.reindex(new_index, fill_value=0)
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

In [18]:
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

df = pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)
print('\n')

# 행 인덱스를 정수형으로 초기화
ndf = df.reset_index()
print(ndf)
print('\n')

# 행 인덱스를 기준으로 데이터프레임 정렬
ndf2 = df.sort_index(ascending=False) #내림차순 정렬
print(ndf2)
print('\n')

# 특정 열의 데이터 값을 기준으로 데이터프레임 정렬
ndf3 = df.sort_values(by='c1',ascending=False)
print(ndf3)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15


    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13


    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

## 산술연산

In [6]:
# 판다스는 같은 인덱스를 찾아 정렬한 후 같은 인덱스의 데이터 값끼리 연산한다.

# 시리즈 연산

student1 = pd.Series({'국어':100, '영어':80,'수학':90})
student2 = pd.Series({'수학':80,'국어':90,'영어':80})
print(student1)
print('\n')

# 시리즈-숫자 연산
percentage = student1 / 200

print(percentage)
print(type(percentage))
print('\n')

# 시리즈-시리즈 연산
addition = student1 + student2
subtraction = student1 - student2
multiplication = student1 * student2
division = student1/student2
print(type(division))
print('\n')

# 사칙연산 결과를 데이터프레임으로 합치기
result=pd.DataFrame([addition, subtraction, multiplication, division],
                   index = ['덧셈','뺄셈','곱셈','나눗셈'])
print(result)

국어    100
영어     80
수학     90
dtype: int64


국어    0.50
영어    0.40
수학    0.45
dtype: float64
<class 'pandas.core.series.Series'>


<class 'pandas.core.series.Series'>


              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

In [5]:
# NaN값이 있는 연산
# 하나라도 NaN이 있으면 연산 결과는 NaN이 나옴

student1 = pd.Series({'국어':np.nan, '영어':80,'수학':90})
student2 = pd.Series({'수학':80,'국어':90})

addition = student1 + student2
subtraction = student1 - student2
multiplication = student1 * student2
division = student1/student2
print(type(division))
print('\n')

result=pd.DataFrame([addition, subtraction, multiplication, division],
                   index = ['덧셈','뺄셈','곱셈','나눗셈'])
print(result)

<class 'pandas.core.series.Series'>


     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

In [11]:
# 연산 메소드

student1 = pd.Series({'국어':np.nan, '영어':80,'수학':90})
student2 = pd.Series({'수학':80,'국어':90})

# 두 학생의 과목별 점수로 사칙연산 수행(연산 메소드 사용)
# NaN 대신 0을 입력 > fill_vaile=0
sr_add = student1.add(student2, fill_value=0) #덧셈
sr_sub = student1.sub(student2, fill_value=0) #뺄셈
sr_mul = student1.mul(student2, fill_value=0) #곱셈
sr_div = student1.div(student2, fill_value=0) #나눗셈

result=pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div],
                   index = ['덧셈','뺄셈','곱셈','나눗셈'])
print(result)

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

In [16]:
# 데이터프레임 연산

titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','fare']]
print(df.head())
print(type(df))
print('\n')

# 데이터프레임-숫자 연산
addition = df + 10
print(addition.head())
print(type(addition))

# 데이터프레임-데이터프레임 연산
subtraction = addition - df
print(subtraction.tail()) #마지막 5행 표시
print(type(subtraction))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500
<class 'pandas.core.frame.DataFrame'>


    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500
<class 'pandas.core.frame.DataFrame'>
      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0
<class 'pandas.core.frame.DataFrame'>